$color-before: #F6F6F6;
$buttons-background: #346D99;
$color-button:#FCB243;
$color:#090909;
$color:#EDEDED;
$color:#F6C64B;
$promo-color: #fd1e48;
$color-available: #228B22;

$amantic: 'Amatic SC', cursive;
$noto-sans: 'Noto Sans', sans-serif;