
.icon-left-open-mini:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-thumbs-down:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */